@import url('https://fonts.googleapis.com/css2? família=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root{
    --amarelo: #FFC632;
    --cinza:#AFB6C2;
    --marrom: #473404;
    --marromEsc:#24221F;
    --marromEsc2:#191816;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none; 
    color:var(--cinza) ;
  }

html,
body {
  height: 100vh;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

a{
    color: var(--amarelo);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
}

strong{
    color: var(--amarelo);
}

#registre{
    color: var(--amarelo); 
}

.esqsenha{
    font-weight: 600;
}

main{
    display: flex;
}

header{
    width: 95px;
    padding: 25px 0px 0px 20px;
    margin-bottom: 70px;
}

header img{
    width: 100%;
}

.secprincipal{
    width: 50%;
    background-color: var(--marromEsc2);  
}

hgroup{
    text-align: left;
    width: 85%;
    margin: auto;
}

h1{
    background-image: url(../img/log-in.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
    color:  #D4CCB6;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 15px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;   
    margin-bottom: 25px; 
}

.principal{
    background-color:var(--marromEsc);
    width: 80%;
    margin: auto;
    border-radius: 4px ;
    padding: 5%;
    text-align: center;
}

form{
    background-color:var(--marromEsc);
    width: 85%;
    margin: auto;
    text-align: left;
}

form label, input{
    display: block;
}

form label{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
}

form .inputdig{
    width: 100%;
    padding: 10px 0px 10px 10px;
    border: none;
    background: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px 0px 15px 0px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

form .inputdig:focus{
    outline: 2px solid orange;
}

.check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

#femail{
    background-image: url(../img/mail.svg);
    background-repeat: no-repeat;
    background-position:2%;
    padding-left: 30px;
}

#femail:focus{
    background-image: url(../img/mail-focus.svg);
}

#lpass{
    background-image: url(../img/lock.svg);
    background-repeat: no-repeat;
    background-position:2%;
    padding-left: 30px;
}

#lpass:focus{
    background-image: url(../img/lock-focus.svg);
}

/* .inputsenha{
    background-image: url(../img/eye.svg);
    background-repeat: no-repeat;
    background-position: 95% 40%;  
} */

.check label, input{
    display: initial;
}

input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: var(--amarelo);
    border: none;
    border-radius: 3px;
    color: var(--marrom);
    margin: 5px 0px 10px 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    
}

input[type="submit"]:hover{
    cursor: pointer;
}

figure{
    width: 50%;
}

figure img{
    width: 100%;
    margin-bottom: -4px;
}

@media (max-width:900px){
    figure{
        display: none;
    }

    .secprincipal{
        width: 100vw;
        height: 100vh;
    }

    #femail{
        padding-left: 33px;
    }
    
    #femail:focus{
        background-image: url(../img/mail-focus.svg);
    }
    
    #lpass{
        padding-left: 33px;
    }
}

@media (max-width:380px) {
    h2{
        font-size: 1rem;
    }

    .esqsenha{
        font-size: 1rem;
    }

    .boxLembre label{
        font-size: 1rem;
    }

}

